body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; 
}

nav {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

nav .tab {
    cursor: pointer;
}

.menu-item {
    margin-bottom: 4rem;
}